---
layout: default
title: About
---

<h1>About me</h1>

<p>As much as I try to snag the Hawlucha username, you can call me by Kage (just like the word 'cage'). I do web development so far as a hobby, with occasional drawing on the side.</p>

<hr>

<h1>About this site</h1>

<p>This site is hosted on <a href="https://codeberg.org">Codeberg</a>. It's meant to dump my original-quality art as far away from the big-tech giants, while also serving as skill-building for my web-dev hobby.</p>

<p>Since Codeberg doesn't have a hard repository size limit, I can feel free to not compromise so much on image quality compared to GitHub's 1-gigabyte limit.</p>

<p>My site doesn't have any kind of tracking at all. No JavaScript to run in the background to collect even your mouse-movement patterns, no analytics, no cookies to store on your device(s), nothing. What you see are files that display the content of the site (HTML) and the presentation of the site (CSS). If I ever put JavaScript on my site for whatever reason, I will make sure the code doesn't have any kind of tracking anywhere.<br>
I'll never know anything about my visitors, their browsers, and where they're connecting from, and I have no need to know. The Internet doesn't need that invasive crap, and I don't want to make you all suffer like how bigger sites make us suffer. Your own privacy is important. I say all this as an individual, not as some corp.<br>
You are welcome to check the source code in your browser to verify it yourself, or <a href="https://codeberg.org/Hawlucha/pages">you can look at the repository of the site as well</a>. However, it is up to you if you trust Codeberg enough based on <a href="https://codeberg.org/codeberg/org/src/branch/master/PrivacyPolicy.md">their privacy policy</a>.<br>
You can consider all that as my Privacy Policy. No difficult-to-understand legalese.</p>

<p>As you can very much see, this is very much a work-in-progress. It'll eventually be a bit prettier in the future.</p>

<p>For now, <a href="index0.html">you can see how the rest of the styling of the site can look like here</a>.</p>

<p>The Codeberg repository for this site: <a href="https://codeberg.org/Hawlucha/pages">https://codeberg.org/Hawlucha/pages</a></p>

<hr>

<h1>Contact</h1>

<p>Here are some ways to contact me if you want to say hi, let me know if my site needs fixing (because of a browser quirk, for example), or anything else.</p>

<p>You can <a rel="me" href="https://donphan.social/@Hawlucha">reach me on the Fediverse at donphan.social: {{ site.fediverse_username }}</a>.</p> 

<p>You can <a href="https://matrix.to/#/@hawlucha:matrix.org">instant-message me on Matrix: {{ site.matrix_username }}</a>.</p>