---
layout: default
title: Art Blog Homepage
---

<h1>Kage's own artdump site</h1>

<p>A few of my artwork:</p>

<p>... whenever I figure out how to present my art.</p>

<p>... And whenever I can think of how to make this homepage not bland. For now, you can browse around and see what you like.</p>

<!-- Did this for the green checkmark lol -->
<p style="display: none"><a rel="me" href="https://donphan.social/@Hawlucha"></a>@Hawlucha@donphan.social</p>