<div class="content footer-content">
    <p><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target=”_blank” rel=”noopener noreferrer"><img alt="Creative Commons License" style="border-width:0" src="/assets/img/creative-commons-by-nc-sa_88x31.png" /></a>
        <br />
        This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" rel="dct:type">work</span> is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target=”_blank” rel=”noopener noreferrer">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
    
    <p>The underlying source code used to format and display this content is licensed under the <a href="https://codeberg.org/Hawlucha/pages-code/src/branch/main/LICENSE">MIT license</a>. Specific content may be given explicit licenses depending on their use case.</p>

    <p>I don't track you. No JavaScript running the background to collect data. No cookies at all. I don't know anything about my visitors, and I have no need to know.</p>
</div>
