<header>
    <nav>
        <ul>{% for item in site.data.navigation %}
            <li>
                <a href="{{ item.link }}">
                    <p class="{{ item.class }}">{{ item.name }}</p>
                </a>
            </li>
        {% endfor %}
        </ul>
    </nav>
</header>
