:root {
    /* Colours */
    --body_white: #ebebeb;
    --red: #bb2b45;
    --grey: #b5c9d5;
    --green: #208664;
    --orange: #dc6137;
    --black: #242d2d;
    --yellow_eye: #eedf71;
    --yellow_leg: #eee070;

    --border-width: .375rem;

    --nav-height: 3.25rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
}

html {
    background: var(--body_white);
    height: 100%;
    word-wrap: break-word;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    border-width: var(--border-width) var(--border-width) 0;
    border-style: solid;
    border-image: linear-gradient(to bottom, var(--red) 8%, rgba(0, 0, 0, 0) 32%) 10 1%;

    overflow-x: hidden;
}
/*
***** Mobile-first *****
*/

/***** Nav rules start *****/
header {
    width: 100%;
    max-width: 65rem;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: var(--nav-height);
}

nav ul { /* Flexbox container */
    height: 100%;
    list-style-type: none;

    /* Flexbox rules */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    text-align: center;

    flex-grow: 1;
    max-width: 12rem;
}

nav a {
    display: block;
    height: 100%;
    color: var(--black);
}

nav a::after {
    content: "";
    display: block;
    width: 100%;
    background-color: var(--red);
    height: calc(.375rem / 2);
    max-width: 90%;
    margin: auto;
}

.nav-item {
    margin: 0;
}

/***** Nav rules end *****/


/***** Text rules start *****/
main {
    font-size: 1.125rem;
}

h1, h2, h3, h4, h5, h6, main ul, p, code, blockquote {
    color: var(--black);
    margin: 0;
    /* If em instead of rem, then each header will have their own margin
    values. */
}

p {
    line-height: 1.375rem;
    padding: .75rem 0rem;
}

a {
    color: var(--green);
    text-decoration: none;
}

pre, code {
    background-color: var(--grey);
}

code {
    padding: .125rem 0;
    line-height: 1.75rem;
}

pre {
    white-space: nowrap;
    overflow: auto;
    border: solid .875rem var(--grey);
    font-size: 1rem;
}

pre + pre {
    margin-top: .75rem;
}

pre code {
    padding-right: .875rem;
}

blockquote {
    --padding: 1rem;
    padding: 0 var(--padding);
    position: relative;
}

blockquote::before {
    content: "";
    display: block;
    width: 0.375rem;
    height: 100%;
    margin-left: calc(var(--padding) * -1);
    background-color: var(--red);
    position: absolute;
}

hr {
    margin: 1rem 0;
    width: 75%;
}
/***** Text rules end *****/


/***** Content rules start *****/
main {
    margin-bottom: auto;

}

.content {
    padding: 1.5rem;
    margin: auto;
    max-width: 65rem;
    background: var(--body_white);
}

.main-content img {
	width: 100%;
    padding: 0rem 1rem;
}
/***** Content rules end *****/


/***** footer rules start *****/
footer {
    margin-top: auto;

    /* The border stuff at `body {}` shrinks the whole footer.
    This sets the width back at:
    100% viewport width PLUS 2 of the vertical border width
    while translating for the compounded displacement.
    Must be 100%; 100vw includes spaced covered by scrollbar, while 100% excludes that space. Percentage keeps the scrollbar from covering the border. */
    transform: translateX(calc(var(--border-width) * -1));
    width: calc(100% + (2 * var(--border-width)));

    background: var(--body_white);
    background: -moz-linear-gradient(to bottom, var(--body_white) 0%, var(--grey) 2%, var(--body_white) 4%);
    background: -webkit-linear-gradient(to bottom, var(--body_white) 0%, var(--grey) 2%, var(--body_white) 4%);
    background: -o-linear-gradient(to bottom, var(--body_white) 0%, var(--grey) 2%, var(--body_white) 4%);
    background: linear-gradient(to bottom, var(--body_white) 0%, var(--grey) 2%, var(--body_white) 4%);


    border-width: 0 var(--border-width) var(--border-width);
    border-style: solid;
    border-image: linear-gradient(to top, var(--yellow_leg) 0%, rgba(0, 0, 0, 0) 50%) 10 1%;
}

.footer-content {
    background: var(--body_white);
    background: -moz-linear-gradient(to bottom, var(--body_white) 0%, var(--grey) 2%, var(--body_white) 4%);
    background: -webkit-linear-gradient(to bottom, var(--body_white) 0%, var(--grey) 2%, var(--body_white) 4%);
    background: -o-linear-gradient(to bottom, var(--body_white) 0%, var(--grey) 2%, var(--body_white) 4%);
    background: linear-gradient(to bottom, var(--body_white) 0%, var(--grey) 2%, var(--body_white) 4%);
}
/***** Footer rules end *****/
