<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }} – {{ site.title }}</title>
		<meta name="description" content="My art blog">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Favicon stuff -->
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
		<link rel="manifest" href="/assets/favicon/site.webmanifest">
		<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<style>
			* {
				padding: 0;
				margin: 0;
			}
		</style>
		<!-- Styling used here instead of in styles.css to build upon normalize.css,
		and to not undo normalize.css's margin declaration for h1.
	 	Ain't no need for repetitive padding and margin resetting.-->
		<link rel="stylesheet" href="/assets/css/normalize-8.0.1.css">
		<link rel="stylesheet" href="/assets/css/styles.css">

        {% feed_meta %}

        <!-- left brace, percent sign, space, seo, space, percent sign, right brace  
		Remnant of jekyll-seo-tag plugin that I'll worry about later. -->

		<!-- <meta name="theme-color" content="#fafafa"> May not be needed. -->
	</head>

	<body>

        {% include navigation.html %}
        <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

		<main>
            <div class="content main-content">
                {{ content }}
            </div>
        </main>

        <footer>
			{% include footer.html %}
		</footer>
	</body>

</html>
